<div class="row row--ip">
  <p>Informe o IP da VM e em seguida clique em INICIAR para exibir os dados de monitoramento.</p>
  <div class="col-xs-4 input-group">
    <input class="form-control" type="text" ng-model="ip" placeholder="Informe o IP">
  </div>
  <button ng-click="listen()" class="btn btn-primary">INICIAR</button>
</div>
<div class="row">
  <p class="center">{{status}}</p>
</div>
<div class="row">
  <table class="table-bordered table-responsive table-striped">
    <tr>
      <th>Origem</th>
      <th>Destino</th>
      <th>Duração</th>
    </tr>
    <tr ng-repeat="r in rows">
      <td>{{r.origem}}</td>
      <td>{{r.destino}}</td>
      <td>{{r.duracao}} segundo(s)</td>
    </tr>
  </table>
